<p>
	<a id="my-open-click">open</a>
</p>

<div id="foo" style="border: 1px solid red;">
	<a id="my-hide-click">hide</a>
	<p>bar</p>
</div>

<script>
	$("#foo").hide();

	$("#my-open-click").click(function(){
		$("#foo").slideDown();
	})

	$("#my-hide-click").click(function(){
		$("#foo").slideUp();
	})

</script>
